In [15]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
pd.set_option('display.max_colum', None)
pd.set_option('display.max_rows', 100)

In [7]:
advert = pd.read_csv('https://raw.githubusercontent.com/justmarkham/scikit-learn-videos/master/data/Advertising.csv',
                     usecols=['TV', 'Radio', 'Newspaper', 'Sales'])

In [9]:
advert.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [11]:
x=advert[['TV','Radio','Newspaper']]

In [12]:
y=advert['Sales']

In [17]:
# initlize the model
model=LinearRegression()
model.fit(x,y)

LinearRegression()

In [19]:
print("Alpha value is:{}".format(model.intercept_))
print("betas value is:{}".format(model.coef_))

Alpha value is:2.9388893694594067
betas value is:[ 0.04576465  0.18853002 -0.00103749]