In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# Read in the dataset

In [2]:
honeypro=pd.read_csv("honeyproduction1998-2016 (1).csv")

In [3]:
#View few rows of data
honeypro.head()

,state,numcol,yieldpercol,totalprod,stocks,priceperlb,prodvalue,year
0,Alabama,16000.0,71,1136000.0,159000.0,0.72,818000.0,1998
1,Arizona,55000.0,60,3300000.0,1485000.0,0.64,2112000.0,1998
2,Arkansas,53000.0,65,3445000.0,1688000.0,0.59,2033000.0,1998
3,California,450000.0,83,37350000.0,12326000.0,0.62,23157000.0,1998
4,Colorado,27000.0,72,1944000.0,1594000.0,0.70,1361000.0,1998

In [4]:
#Check the shape of data
honeypro.shape

(785, 8)

In [6]:
#check the datatype of variable
honeypro.dtypes

state           object
numcol         float64
yieldpercol      int64
totalprod      float64
stocks         float64
priceperlb     float64
prodvalue      float64
year             int64
dtype: object

obervation:
- 1:State is the Object data type
- 2:year is integer type currently. Since year is a categorical variable here, let us convert it to category data data type in Python.
- 3:All the other variables are numerical and there for their python data types (float64 and int64) are ok.