In [2]:
%%timeit
import pandas as pd

231 ns ± 19.8 ns per loop (mean ± std. dev. of 7 runs, 1,000,000 loops each)

# Getting Started
The primary two components of pandas are the Series and DataFrame.

A Series is essentially a column, and a DataFrame is a multi-dimensional table made up of a collection of Series.

# 1. What is a Series?
- A Pandas Series is like a column in a table.
- It is a one-dimensional array holding data of any type.

In [3]:
a=[1,3,6,4,2]
myvar=pd.Series(a)

In [6]:
type(myvar)

pandas.core.series.Series

In [7]:
myvar

0    1
1    3
2    6
3    4
4    2
dtype: int64

# 1.1. Labels
If nothing else is specified, the values are labeled with their index number. First value has index 0, second value has index 1 etc.

This label can be used to access a specified value.

In [8]:
print(myvar[0])

1

In [11]:
print(myvar[3])

4

# 1.2. Create Labels
With the index argument, you can name your own labels.

In [13]:
a=[1,4,6]

myvar=pd.Series(a, index=["x","y","z"])

In [14]:
myvar

x    1
y    4
z    6
dtype: int64

In [15]:
myvar[0]

1

In [16]:
myvar["y"]

4

# 1.3. Key/Value Objects as Series
You can also use a key/value object, like a dictionary, when creating a Series.

In [17]:
calerios={"day1":420,"day2":380,"day3":400}
myvar=pd.Series(calerios)

In [18]:
myvar

day1    420
day2    380
day3    400
dtype: int64

# 2. What is a DataFrame?
A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.

In [19]:
data={"caleories":[420,340,210],
     "duration":[40,50,60]}

In [20]:
df=pd.DataFrame(data)

In [21]:
df

   caleories  duration
0        420        40
1        340        50
2        210        60

# 2.1. Locate Row
As you can see from the result above, the DataFrame is like a table with rows and columns.

Pandas use the loc attribute to return one or more specified row(s)

In [23]:
print(df.iloc[1])

caleories    340
duration      50
Name: 1, dtype: int64

In [24]:
df.iloc[0]

caleories    420
duration      40
Name: 0, dtype: int64

In [25]:
df.iloc[0,1]

40

In [26]:
df

   caleories  duration
0        420        40
1        340        50
2        210        60

In [27]:
df.iloc[[0,2]]

   caleories  duration
0        420        40
2        210        60

In [31]:
df.iloc[[0]]

   caleories  duration
0        420        40

In [32]:
df.iloc[0]

caleories    420
duration      40
Name: 0, dtype: int64

In [33]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df = pd.DataFrame(data, index = ["day1", "day2", "day3"])

print(df)

      calories  duration
day1       420        50
day2       380        40
day3       390        45

In [34]:
df

      calories  duration
day1       420        50
day2       380        40
day3       390        45

In [ ]:
df.iloc["d"]