In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pylab as plt


import warnings
warnings.filterwarnings("ignore")

# Load the data

In [2]:
df=pd.read_csv("diabetes.csv")

In [3]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

### Checking the BloodPressure data Skew or not

In [5]:
df.BloodPressure.skew()

-1.8436079833551302

**Observation**
- its negative so,its not skewed

### Statistical measure for the BloodPressure column

In [13]:
print("Mean value of BloodPressure:",round(df.BloodPressure.mean(),2))
print("Median value of BloodPressure:",round(df.BloodPressure.median(),2))
print("Minimum value of BloodPressure:",round(df.BloodPressure.min(),2))
print("Maximum value of BloodPressure",round(df.BloodPressure.max(),2))
print("StandardDivation value of BloodPressure:",round(df.BloodPressure.std(),2))

Mean value of BloodPressure: 69.11
Median value of BloodPressure: 72.0
Minimum value of BloodPressure: 0
Maximum value of BloodPressure 122
StandardDivation value of BloodPressure: 19.36

**Observation**
- The minimum value of BloodPressure is Zero that not possible so its outliers

### calculating the upper and lower limits to detects the outliers

- Lower Bound: (Q1 - 1.5 * IQR)
- Upper Bound: (Q3 + 1.5 * IQR)
- IQR = Q3 - Q1

In [15]:
Q3=df.BloodPressure.quantile(.75)
Q1=df.BloodPressure.quantile(.25)
IQR=Q3-Q1

In [17]:
upper_limit=Q3+1.5*IQR
lower_limit=Q1-1.5*IQR

In [18]:
print("Lower limit is:",lower_limit)
print("Upper limit is:",upper_limit)

Lower limit is: 35.0
Upper limit is: 107.0

### count the values which are above the upper and below the lower limit

In [25]:
len(df[(df['BloodPressure'] > upper_limit) | (df['BloodPressure'] < lower_limit)])

45