# What is Python?
- Python is a general-purpose programming language that is becoming ever more popular for data science. Companies worldwide use Python to harvest insights from their data and gain a competitive edge. Python is easy to learn as it has a syntax that is very human-interpretable.


To check if you have python installed on a Windows, Linux, or Mac, type:

python --version

# First Python Program

In [3]:
print("Hello World")

Hello World

# Python Variables

In [4]:
x=5
y="sanwal"

In [5]:
print(x,y)

5 sanwal

In [6]:
print(x*y)

sanwalsanwalsanwalsanwalsanwal

# Casting

In [7]:
x=str(3)
y=float(3)
z=int(3)

In [8]:
print(x,y,z)

3 3.0 3

In [9]:
type(x)

str

# Variable Names
A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). 
Rules for Python variables:

- A variable name must start with a letter or the underscore character
- A variable name cannot start with a number
- A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
- Variable names are case-sensitive (age, Age and AGE are three different variables)

In [16]:
_age=5

In [17]:
age=5

In [19]:
my-var=5

SyntaxError: cannot assign to operator (4223731995.py, line 1)

# Many Values to Multiple Variables

In [20]:
x,y,z='orange','mango','banana'

In [21]:
print(x)

orange

In [22]:
print(y)

mango

In [23]:
print(z)

banana

# One Value to Multiple Variables

In [24]:
x=y=z='orange'

In [25]:
print(x)

orange

In [26]:
print(y)

orange

In [27]:
print(z)

orange

# Python Numbers
There are three numeric types in Python
- int
- float
- complex

# Int 
 - Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.

In [28]:
x=1
y=342343454454564545
z=-111292324

In [29]:
print(type(x))

<class 'int'>

# Float
- Float, or "floating point number" is a number, positive or negative, containing one or more decimals.

In [30]:
x=1.1
y=-2.20
z=34.324

In [31]:
print(type(x))

<class 'float'>

# Complex
- Complex numbers are written with a "j" as the imaginary part:

In [32]:
x=5-3j
print(type(x))

<class 'complex'>

# Python Strings
- Strings in python are surrounded by either single quotation marks, or double quotation marks.

In [34]:
print('hello')
print("hello")

hello
hello

# Multiline Strings
- You can assign a multiline string to a variable by using three quotes:

In [35]:
a='''hello my name is Sanwal khan
I belong to faislabad.
and i am in undergraduate'''
print(a)

hello my name is Sanwal khan
I belong to faislabad.
and i am in undergraduate

In [36]:
a='Pakistan'
len(a)

8

In [37]:
a[0:3]

'Pak'

In [40]:
for i in a:
    print(i,end='\t')

P	a	k	i	s	t	a	n

In [41]:
for i in 'banana':
    print(i)

b
a
n
a
n
a

In [42]:
tex='my name is sanwal khan and i belonged to faisalabad'
'sanwal' in tex

True

# Check String and Check if NOT

In [43]:
txt='the best thing is life is school time'
print('thing' in txt)
print('Life' in txt)

True
False

# Slicing Strings

In [44]:
a='I am student of BS'
a[0:4]

'I am'

In [45]:
a[:4]

'I am'

In [47]:
a[:]

'I am student of BS'

In [48]:
a[:-1]

'I am student of B'

# Modify Strings

In [49]:
print(a)

I am student of BS

In [50]:
a.capitalize()

'I am student of bs'

In [51]:
a.title()

'I Am Student Of Bs'

In [52]:
a.upper()

'I AM STUDENT OF BS'

In [53]:
a.lower()

'i am student of bs'

In [60]:
a.count('t')

2

In [57]:
a.count('s')

1

In [61]:
a.isalpha()

False

In [62]:
a.lstrip()

'I am student of BS'

In [63]:
a.replace('t','q')

'I am squdenq of BS'

# strip()
- Whitespace is the space before and/or after the actual text, and very often you want to remove this space.
The strip() method removes any whitespace from the beginning or the end:

In [64]:
a='     hello world      '

In [65]:
a

'     hello world      '

In [66]:
a.strip()

'hello world'

In [67]:
a='hello world'

In [70]:
a=a.split(" ")

In [74]:
a[1][:3]

'wor'

# String Concatenation
- To concatenate or combine, two strings you can use the + operator.

In [75]:
a='hello'
b='world'
print(a+b)

helloworld

In [77]:
print(a+" "+b)

hello world

In [78]:
age=22
print("My name is sanwal and my age is"+age)

TypeError: can only concatenate str (not "int") to str

In [80]:
print("My name is sanwal and my age is {}".format(age))

My name is sanwal and my age is 22

In [81]:
quantity=33
items=567
price=46.94
my_order="I want {} pieces of items {} for {} dollar"
print(my_order.format(quantity,items,price))

I want 33 pieces of items 567 for 46.94 dollar

In [87]:
age=25
gender='male'

In [88]:
if age==25 and gender=='male':
    print("You are eligble")

You are eligble

In [89]:
if age==25 or gender=='male':
    print("You are eligble")

You are eligble

# Data Structure
- List is a collection which is ordered and changeable. Allows duplicate members.
- Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
- Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
- Dictionary is a collection which is ordered** and changeable. No duplicate members.

# Python Lists
- Lists are used to store multiple items in a single variable.
- Lists are created using square brackets

In [90]:
thislist=['apple','banana','cheery']

In [91]:
print(type(thislist))

<class 'list'>

In [92]:
len(thislist)

3

In [93]:
thislist[0][:3]

'app'

In [94]:
lis=['apple','banana',24,True]

In [95]:
len(lis)

4

In [96]:
lis[-1]

True

In [97]:
lis.append("sanwal")

In [98]:
lis

['apple', 'banana', 24, True, 'sanwal']

In [100]:
lis.count("apple")

1

In [101]:
lis.append('apple')

In [102]:
lis

['apple', 'banana', 24, True, 'sanwal', 'apple']

In [103]:
lis.count('apple')

2

In [104]:
lis.insert(0,"cheery")

In [105]:
lis

['cheery', 'apple', 'banana', 24, True, 'sanwal', 'apple']

In [110]:
lis=['A','B','C']
lis2=['a','b','c']

In [111]:
lis.extend(lis2)

In [112]:
lis

['A', 'B', 'C', 'a', 'b', 'c']

In [117]:
lis.sort()
lis.reverse()
lis

['c', 'b', 'a', 'C', 'B', 'A']

In [118]:
lis.remove('A')

In [119]:
lis

['c', 'b', 'a', 'C', 'B']

In [120]:
lis.pop()

'B'

In [121]:
lis

['c', 'b', 'a', 'C']

In [122]:
lis.pop(0)

'c'

# Python Tuple
- Tuples are used to store multiple items in a single variable. A tuple is a collection which is ordered and unchangeable. Tuples are written with round brackets.

In [123]:
tup=('apple','banana','cheery')

In [124]:
type(tup)

tuple

In [125]:
tup.count('apple')

1

In [128]:
tup[1]='mango'

TypeError: 'tuple' object does not support item assignment

In [129]:
li=list(tup)
li[0]='mango'

In [132]:
tup=tuple(li)

In [134]:
type(tup)

tuple

In [135]:
tup1=('A','B','C')
tup2=(1,2,3)

In [136]:
tup1+tup2

('A', 'B', 'C', 1, 2, 3)

# Python Sets
- Sets are used to store multiple items in a single variable.
- Sets are written with curly brackets.
- Set items are unordered, unchangeable, and do not allow duplicate values.
- Set items can appear in a different order every time you use them, and cannot be referred to by index or key.
- Set items are unchangeable, meaning that we cannot change the items after the set has been created.
- Sets cannot have two items with the same value.

In [137]:
thisset={'apple','mango','cheery'}

In [138]:
type(thisset)

set

In [139]:
thisset.add("banana")

In [140]:
thisset

{'apple', 'banana', 'cheery', 'mango'}

In [141]:
thisset.add('apple')

In [142]:
thisset

{'apple', 'banana', 'cheery', 'mango'}

In [144]:
thisset.remove('apple')

In [145]:
thisset

{'banana', 'cheery', 'mango'}

In [146]:
for i in thisset:
    print(i)

mango
cheery
banana

In [149]:
thisset.discard('cheery')

In [150]:
thisset.remove('cheery')

KeyError: 'cheery'

In [152]:
thisset.add("apple")

In [153]:
thisset

{'apple', 'banana', 'mango'}

In [154]:
thisset.pop()

'banana'

In [158]:
thisset.pop()

KeyError: 'pop from an empty set'

In [159]:
set1={'A','B','C'}
set2={1,2,3,"A",'c'}
set3=set1.union(set2)

In [160]:
set3

{1, 2, 3, 'A', 'B', 'C', 'c'}

In [162]:
set3=set1.intersection(set2)
set3

{'A'}

# Python Dictionary

In [163]:
thisdic={
    "carname":"honda",
    "model":2018,
    "enginetype":'diseal'
}

In [164]:
type(thisdic)

dict

In [165]:
thisdic.keys()

dict_keys(['carname', 'model', 'enginetype'])

In [166]:
thislist["selfdrive"]-"yes"

TypeError: list indices must be integers or slices, not str