# What is Python?
- Python is a general-purpose programming language that is becoming ever more popular for data science. Companies worldwide use Python to harvest insights from their data and gain a competitive edge. Python is easy to learn as it has a syntax that is very human-interpretable.


To check if you have python installed on a Windows, Linux, or Mac, type:

python --version

# First Python Program

In [3]:
print("Hello World")

Hello World

# Python Variables

In [4]:
x=5
y="sanwal"

In [5]:
print(x,y)

5 sanwal

In [6]:
print(x*y)

sanwalsanwalsanwalsanwalsanwal

# Casting

In [7]:
x=str(3)
y=float(3)
z=int(3)

In [8]:
print(x,y,z)

3 3.0 3

In [9]:
type(x)

str

# Variable Names
A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). 
Rules for Python variables:

- A variable name must start with a letter or the underscore character
- A variable name cannot start with a number
- A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
- Variable names are case-sensitive (age, Age and AGE are three different variables)

In [16]:
_age=5

In [17]:
age=5

In [19]:
my-var=5

SyntaxError: cannot assign to operator (4223731995.py, line 1)

# Many Values to Multiple Variables

In [20]:
x,y,z='orange','mango','banana'

In [21]:
print(x)

orange

In [22]:
print(y)

mango

In [23]:
print(z)

banana

# One Value to Multiple Variables

In [24]:
x=y=z='orange'

In [25]:
print(x)

orange

In [26]:
print(y)

orange

In [27]:
print(z)

orange

# Python Numbers
There are three numeric types in Python
- int
- float
- complex

# Int 
 - Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.

In [28]:
x=1
y=342343454454564545
z=-111292324

In [29]:
print(type(x))

<class 'int'>

# Float
- Float, or "floating point number" is a number, positive or negative, containing one or more decimals.

In [30]:
x=1.1
y=-2.20
z=34.324

In [31]:
print(type(x))

<class 'float'>

# Complex
- Complex numbers are written with a "j" as the imaginary part:

In [32]:
x=5-3j
print(type(x))

<class 'complex'>

# Python Strings
- Strings in python are surrounded by either single quotation marks, or double quotation marks.

In [34]:
print('hello')
print("hello")

hello
hello

# Multiline Strings
- You can assign a multiline string to a variable by using three quotes:

In [35]:
a='''hello my name is Sanwal khan
I belong to faislabad.
and i am in undergraduate'''
print(a)

hello my name is Sanwal khan
I belong to faislabad.
and i am in undergraduate

In [36]:
a='Pakistan'
len(a)

8

In [37]:
a[0:3]

'Pak'

In [39]:
for i in a:
    print(i,end='\n')

P
a
k
i
s
t
a
n