In [2]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df=pd.read_csv('World Population Live Dataset.csv')
df.head()

,CCA3,Name,2022,2020,2015,2010,2000,1990,1980,1970,Area (km²),Density (per km²),GrowthRate,World Population Percentage,Rank
0,CN,China,1425887,1424930,1393715,1348191,1264099,1153704,982372,822534,9706961,146.8933,1.00,17.88%,1
1,IN,India,1417173,1396387,1322867,1240614,1059634,870452,696828,557501,3287590,431.0675,1.01,17.77%,2
2,US,United States,338290,335942,324608,311183,282399,248084,223140,200328,9372610,36.0935,1.00,4.24%,3
3,ID,Indonesia,275501,271858,259092,244016,214072,182160,148177,115228,1904569,144.6529,1.01,3.45%,4
4,PK,Pakistan,235825,227197,210969,194454,154370,115414,80624,59291,881912,267.4018,1.02,2.96%,5

In [4]:
df.shape

(234, 15)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234 entries, 0 to 233
Data columns (total 15 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   CCA3                         233 non-null    object
 1   Name                         234 non-null    object
 2   2022                         234 non-null    int64
 3   2020                         234 non-null    int64
 4   2015                         234 non-null    int64
 5   2010                         234 non-null    int64
 6   2000                         234 non-null    int64
 7   1990                         234 non-null    int64
 8   1980                         234 non-null    int64
 9   1970                         234 non-null    int64
 10  Area (km²)                   234 non-null    int64
 11  Density (per km²)            234 non-null    float64
 12  GrowthRate                   234 non-null    float64
 13  World Population Percentage  234 non-null    object
 14  Rank                         234 non-null    int64
dtypes: float64(2), int64(10), object(3)
memory usage: 27.5+ KB

In [8]:
plt.bar(x='Rank')

TypeError: bar() missing 1 required positional argument: 'height'