In [1]:
%%timeit
import pandas as pd

The slowest run took 5.66 times longer than the fastest. This could mean that an intermediate result is being cached.
5.5 µs ± 4.61 µs per loop (mean ± std. dev. of 7 runs, 1 loop each)

# Getting Started
The primary two components of pandas are the Series and DataFrame.

A Series is essentially a column, and a DataFrame is a multi-dimensional table made up of a collection of Series.

# 1. What is a Series?
- A Pandas Series is like a column in a table.
- It is a one-dimensional array holding data of any type.

In [2]:
a=[1,3,6,4,2]
myvar=pd.Series(a)

In [3]:
type(myvar)

pandas.core.series.Series

In [4]:
myvar

0    1
1    3
2    6
3    4
4    2
dtype: int64

# 1.1. Labels
If nothing else is specified, the values are labeled with their index number. First value has index 0, second value has index 1 etc.

This label can be used to access a specified value.

In [5]:
print(myvar[0])

1

In [6]:
print(myvar[3])

4

# 1.2. Create Labels
With the index argument, you can name your own labels.

In [7]:
a=[1,4,6]

myvar=pd.Series(a, index=["x","y","z"])

In [8]:
myvar

x    1
y    4
z    6
dtype: int64

In [9]:
myvar[0]

1

In [10]:
myvar["y"]

4

# 1.3. Key/Value Objects as Series
You can also use a key/value object, like a dictionary, when creating a Series.

In [11]:
calerios={"day1":420,"day2":380,"day3":400}
myvar=pd.Series(calerios)

In [12]:
myvar

day1    420
day2    380
day3    400
dtype: int64

# 2. What is a DataFrame?
A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.

In [13]:
data={"caleories":[420,340,210],
     "duration":[40,50,60]}

In [14]:
df=pd.DataFrame(data)

In [15]:
df

   caleories  duration
0        420        40
1        340        50
2        210        60

# 2.1. Locate Row
As you can see from the result above, the DataFrame is like a table with rows and columns.

Pandas use the loc attribute to return one or more specified row(s)

In [16]:
print(df.iloc[1])

caleories    340
duration      50
Name: 1, dtype: int64

In [17]:
df.iloc[0]

caleories    420
duration      40
Name: 0, dtype: int64

In [18]:
df.iloc[0,1]

40

In [19]:
df

   caleories  duration
0        420        40
1        340        50
2        210        60

In [20]:
df.iloc[[0,2]]

   caleories  duration
0        420        40
2        210        60

In [21]:
df.iloc[[0]]

   caleories  duration
0        420        40

In [22]:
df.iloc[0]

caleories    420
duration      40
Name: 0, dtype: int64

In [23]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df = pd.DataFrame(data, index = ["day1", "day2", "day3"])

print(df)

      calories  duration
day1       420        50
day2       380        40
day3       390        45

In [24]:
df

      calories  duration
day1       420        50
day2       380        40
day3       390        45

In [25]:
print(df.loc["day1"])

calories    420
duration     50
Name: day1, dtype: int64

In [26]:
df.loc["day1"]

calories    420
duration     50
Name: day1, dtype: int64

In [27]:
df=pd.read_csv("data.csv")

In [28]:
df.head()

   Duration  Pulse  Maxpulse  Calories     Time
0        60    110       130     409.1  Morning
1        60    117       145     479.0  Morning
2        60    103       135     340.0  Morning
3        45    109       175     282.4  Morning
4        45    117       148     406.0  Morning

In [29]:
df.shape

(169, 5)

In [30]:
df.loc[1:20]

    Duration  Pulse  Maxpulse  Calories     Time
1         60    117       145     479.0  Morning
2         60    103       135     340.0  Morning
3         45    109       175     282.4  Morning
4         45    117       148     406.0  Morning
5         60    102       127     300.0  Morning
6         60    110       136     374.0  Evening
7         45    104       134     253.3  Morning
8         30    109       133     195.1  Morning
9         60     98       124     269.0  Morning
10        60    103       147     329.3  Morning
11        60    100       120     250.7  Morning
12        60    106       128     345.3  Morning
13        60    104       132     379.3  Morning
14        60     98       123     275.0  Morning
15        60     98       120     215.2  Morning
16        60    100       120     300.0  Morning
17        45     90       112       NaN  Morning
18        60    103       123     323.0  Morning
19        45     97       125     243.0  Evening
20        60    108       131     364.2  Morning

In [31]:
df

     Duration  Pulse  Maxpulse  Calories     Time
0          60    110       130     409.1  Morning
1          60    117       145     479.0  Morning
2          60    103       135     340.0  Morning
3          45    109       175     282.4  Morning
4          45    117       148     406.0  Morning
..        ...    ...       ...       ...      ...
164        60    105       140     290.8  Morning
165        60    110       145     300.0  Morning
166        60    115       145     310.2  Morning
167        75    120       150     320.4  Morning
168        75    125       150     330.4  Morning

[169 rows x 5 columns]

In [32]:
df.head()

   Duration  Pulse  Maxpulse  Calories     Time
0        60    110       130     409.1  Morning
1        60    117       145     479.0  Morning
2        60    103       135     340.0  Morning
3        45    109       175     282.4  Morning
4        45    117       148     406.0  Morning

In [33]:
df.tail()

     Duration  Pulse  Maxpulse  Calories     Time
164        60    105       140     290.8  Morning
165        60    110       145     300.0  Morning
166        60    115       145     310.2  Morning
167        75    120       150     320.4  Morning
168        75    125       150     330.4  Morning

In [34]:
#pick up the randow data
df.sample(6)

     Duration  Pulse  Maxpulse  Calories     Time
20         60    108       131     364.2  Morning
137        45    115       137     318.0  Morning
109       210    137       184    1860.4  Morning
83        120    100       130     500.0  Morning
136        45    117       143     317.7  Morning
69        300    108       143    1500.2  Morning

In [35]:
df.max()

Duration        300
Pulse           159
Maxpulse        184
Calories     1860.4
Time        Morning
dtype: object

# 6. Getting info about your data

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
 4   Time      169 non-null    object
dtypes: float64(1), int64(3), object(1)
memory usage: 6.7+ KB

In [37]:
df.describe()

         Duration       Pulse    Maxpulse     Calories
count  169.000000  169.000000  169.000000   164.000000
mean    63.846154  107.461538  134.047337   375.790244
std     42.299949   14.510259   16.450434   266.379919
min     15.000000   80.000000  100.000000    50.300000
25%     45.000000  100.000000  124.000000   250.925000
50%     60.000000  105.000000  131.000000   318.600000
75%     60.000000  111.000000  141.000000   387.600000
max    300.000000  159.000000  184.000000  1860.400000

In [38]:
df.shape

(169, 5)

In [39]:
df.isnull()

     Duration  Pulse  Maxpulse  Calories   Time
0       False  False     False     False  False
1       False  False     False     False  False
2       False  False     False     False  False
3       False  False     False     False  False
4       False  False     False     False  False
..        ...    ...       ...       ...    ...
164     False  False     False     False  False
165     False  False     False     False  False
166     False  False     False     False  False
167     False  False     False     False  False
168     False  False     False     False  False

[169 rows x 5 columns]

In [40]:
df.isnull().sum()

Duration    0
Pulse       0
Maxpulse    0
Calories    5
Time        0
dtype: int64

In [41]:
df["Calories"].min()

50.3

In [42]:
df.head()

   Duration  Pulse  Maxpulse  Calories     Time
0        60    110       130     409.1  Morning
1        60    117       145     479.0  Morning
2        60    103       135     340.0  Morning
3        45    109       175     282.4  Morning
4        45    117       148     406.0  Morning

In [43]:
df["Time"].value_counts()

Morning    163
Evening      6
Name: Time, dtype: int64

In [44]:
df["Time"].unique()

array(['Morning', 'Evening'], dtype=object)

In [45]:
df["Time"].unique()

array(['Morning', 'Evening'], dtype=object)

In [46]:
df.columns

Index(['Duration', 'Pulse', 'Maxpulse', 'Calories', 'Time'], dtype='object')

In [47]:
df[["Duration","Time"]].sample(12)

     Duration     Time
60        210  Morning
141        60  Morning
164        60  Morning
61        160  Morning
75         90  Morning
118        60  Morning
17         45  Morning
38         60  Evening
85         30  Morning
32         60  Morning
168        75  Morning
117        60  Morning

In [48]:
df["Duration"].value_counts()

60     79
45     35
30     16
20      9
90      8
150     4
180     3
120     3
210     2
160     2
15      2
75      2
80      1
300     1
270     1
25      1
Name: Duration, dtype: int64

In [49]:
df.head()

   Duration  Pulse  Maxpulse  Calories     Time
0        60    110       130     409.1  Morning
1        60    117       145     479.0  Morning
2        60    103       135     340.0  Morning
3        45    109       175     282.4  Morning
4        45    117       148     406.0  Morning

In [50]:
df.shape

(169, 5)

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
 4   Time      169 non-null    object
dtypes: float64(1), int64(3), object(1)
memory usage: 6.7+ KB

In [52]:
df.describe()

         Duration       Pulse    Maxpulse     Calories
count  169.000000  169.000000  169.000000   164.000000
mean    63.846154  107.461538  134.047337   375.790244
std     42.299949   14.510259   16.450434   266.379919
min     15.000000   80.000000  100.000000    50.300000
25%     45.000000  100.000000  124.000000   250.925000
50%     60.000000  105.000000  131.000000   318.600000
75%     60.000000  111.000000  141.000000   387.600000
max    300.000000  159.000000  184.000000  1860.400000

In [53]:
df.std()

C:\Users\Sanwal Khan\AppData\Local\Temp\ipykernel_2284\3390915376.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.std()

Duration     42.299949
Pulse        14.510259
Maxpulse     16.450434
Calories    266.379919
dtype: float64

In [60]:
df=pd.DataFrame({"Name":["ALI","AHMAD","WAHAB","SHOUKAT","MAAZ","HAMZA"],
                "Score":[30,23,47,45,98,45]})

In [61]:
df

      Name  Score
0      ALI     30
1    AHMAD     23
2    WAHAB     47
3  SHOUKAT     45
4     MAAZ     98
5    HAMZA     45

In [63]:
df["Score"].mean()

48.0

In [64]:
df["Score"].std()

26.336286754210434

In [65]:
Age = [80, 85, 90, 95, 100, 105, 110, 115, 120, 125]

In [69]:
Age_mean=statistics.mean(Age)
Age_mean

102.5

In [74]:
diff_mean=[Age_mean-x for x in Age]
diff_mean

[22.5, 17.5, 12.5, 7.5, 2.5, -2.5, -7.5, -12.5, -17.5, -22.5]

In [75]:
square_mean_diff=[x**2 for x in diff_mean]
square_mean_diff

[506.25, 306.25, 156.25, 56.25, 6.25, 6.25, 56.25, 156.25, 306.25, 506.25]

In [76]:
varience=statistics.mean(square_mean_diff)

In [77]:
varience

206.25

In [78]:
statistics.sqrt(varience)

14.361406616345072

In [79]:
statistics.stdev(Age)

15.138251770487457

In [81]:
df

      Name  Score
0      ALI     30
1    AHMAD     23
2    WAHAB     47
3  SHOUKAT     45
4     MAAZ     98
5    HAMZA     45

In [82]:
df.std()

C:\Users\Sanwal Khan\AppData\Local\Temp\ipykernel_2284\3390915376.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.std()

Score    26.336287
dtype: float64

In [83]:
means=df.mean()
means

C:\Users\Sanwal Khan\AppData\Local\Temp\ipykernel_2284\493213459.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  means=df.mean()

Score    48.0
dtype: float64

In [87]:
diff_mean=[means-x for x in df["Score"]]
diff_mean

[Score    18.0
 dtype: float64,
 Score    25.0
 dtype: float64,
 Score    1.0
 dtype: float64,
 Score    3.0
 dtype: float64,
 Score   -50.0
 dtype: float64,
 Score    3.0
 dtype: float64]

In [93]:
squa=[x**2 for x in diff_mean]
squa

[Score    324.0
 dtype: float64,
 Score    625.0
 dtype: float64,
 Score    1.0
 dtype: float64,
 Score    9.0
 dtype: float64,
 Score    2500.0
 dtype: float64,
 Score    9.0
 dtype: float64]

In [95]:
print(squa)

[Score    324.0
dtype: float64, Score    625.0
dtype: float64, Score    1.0
dtype: float64, Score    9.0
dtype: float64, Score    2500.0
dtype: float64, Score    9.0
dtype: float64]

In [96]:
type(squa)

list

In [98]:
len(squa)

6

In [101]:
squa[4]

Score    2500.0
dtype: float64

In [104]:
pd.Series(range(1,5+1), index=["A","B","C","D","E"])

A    1
B    2
C    3
D    4
E    5
dtype: int64

In [110]:
df=pd.DataFrame({"Name":["Sanwal","Amar","Ahmad"],
             "Score":[25,23,21],
             "Subject":["CS","IT","ENG"]})

In [111]:
df

     Name  Score Subject
A  Sanwal     25      CS
B    Amar     23      IT
C   Ahmad     21     ENG

In [113]:
df.index

Index(['A', 'B', 'C'], dtype='object')

In [115]:
df.iloc["A"]

TypeError: Cannot index by location index with a non-integer key

In [117]:
df.head(3)

     Name  Score Subject
A  Sanwal     25      CS
B    Amar     23      IT
C   Ahmad     21     ENG

KeyError: 2

In [121]:
df2=pd.DataFrame({"Name":["Sanwal","Amar","Ahmad"],
             "Score":[25,23,21],
             "Subject":["CS","IT","ENG"]})

In [122]:
df2.iloc[1]

Name       Amar
Score        23
Subject      IT
Name: 1, dtype: object

In [123]:
df.loc["B"]

Name       Amar
Score        23
Subject      IT
Name: B, dtype: object

In [125]:
df

     Name  Score Subject
A  Sanwal     25      CS
B    Amar     23      IT
C   Ahmad     21     ENG

In [127]:
df2[0:2]

     Name  Score Subject
0  Sanwal     25      CS
1    Amar     23      IT

In [128]:
import numpy as np

In [134]:
df=np.arange(1,20+1).reshape((5,4))

In [138]:
df.T

array([[ 1,  5,  9, 13, 17],
       [ 2,  6, 10, 14, 18],
       [ 3,  7, 11, 15, 19],
       [ 4,  8, 12, 16, 20]])

In [140]:
df

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12],
       [13, 14, 15, 16],
       [17, 18, 19, 20]])

In [139]:
df[0:2,0:3]

array([[1, 2, 3],
       [5, 6, 7]])

In [147]:
df[df>18].sum()/2

19.5

In [148]:
20 in df

True

In [149]:
21 in df

False