In [4]:
a=5
if a>7:
    print('True')

In [6]:
True if a==5 else Falsese

False

In [7]:
mylist=[1,2,3,4,5]

In [8]:
for x in mylist:
    print (x)

1
2
3
4
5

In [10]:
[x for x in mylist]

[1, 2, 3, 4, 5]

In [11]:
fruits=["banana", "apple","orange","mango"]
for i in fruits:
    print(i)

banana
apple
orange
mango

In [13]:
[x for x in fruits]

['banana', 'apple', 'orange', 'mango']

In [17]:
for i,v in enumerate(fruits):
    print (i,v)

0 banana
1 apple
2 orange
3 mango

In [21]:
[[i,v] for (i,v) in enumerate(fruits)]

[[0, 'banana'], [1, 'apple'], [2, 'orange'], [3, 'mango']]

In [22]:
for i in range(0,20+1):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [23]:
[x for x in range(0,10+1)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [24]:
fruits

['banana', 'apple', 'orange', 'mango']

In [25]:
people=['Ali',"Ahmad","Bilal","amar"]

In [28]:
for x in zip(people,fruits):
    print(x)

('Ali', 'banana')
('Ahmad', 'apple')
('Bilal', 'orange')
('amar', 'mango')

In [31]:
print([x for x in range(0,50+1) if x%2==0])

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [32]:
x=lambda x:x+2

In [34]:
x(2)

4

In [36]:
x= lambda y:  y%2==0

False

In [39]:
y= lambda a,b,c:a*b*c

In [41]:
y(5,4,3)

60