In [ ]:
a = 5

In [ ]:
if a>5:
    print('Result')
else:
    print('Yes')

In [ ]:
True if a==5 else False

In [ ]:
mylist_ = [1,2,3,4,5]

In [ ]:
[x**2 for x in mylist_]

In [3]:
i = 1

while i<6:
    print(i)
    i+=1
else:
    print('Finally End!')

1
2
3
4
5
Finally End!

In [4]:
fruits = ['A', 'B', 'C', 'D']

In [7]:
for i, v in enumerate(fruits):
    print(i,v)

0 A
1 B
2 C
3 D

In [12]:
for x in range(10, 100+1, 10):
    print(x)

10
20
30
40
50
60
70
80
90
100

In [14]:
Person = ['Ali', 'Raza', 'Kashif']
Fruits = ['Apple', 'Banana', 'Strawberry']

In [17]:
for p in Person:
    for f in Fruits:
        print('{} likes {}'.format(p, f))

Ali likes Apple
Ali likes Banana
Ali likes Strawberry
Raza likes Apple
Raza likes Banana
Raza likes Strawberry
Kashif likes Apple
Kashif likes Banana
Kashif likes Strawberry

In [19]:
for i in range(3):
    print('{} likes {}'.format(Person[i], Fruits[i]))

Ali likes Apple
Raza likes Banana
Kashif likes Strawberry

In [21]:
for x in zip(Person, Fruits):
    print(x)

('Ali', 'Apple')
('Raza', 'Banana')
('Kashif', 'Strawberry')

In [31]:
def P(fname, lname):
    print('Hello {} {}!'.format(fname, lname))

In [32]:
P('Waheed', 'Abbas')

Hello Waheed Abbas!

In [33]:
def Power(x):
    return x**2

In [34]:
Power(10)

100

In [43]:
[Power(x) for x in range(0,10) if x%2==0]

[0, 4, 16, 36, 64]

In [57]:
z = lambda x, y: Power(x)+Power(y)

In [58]:
z(5, 10)

125

In [61]:
int('10')

10

In [64]:
for x in range(0,5):
    for y in range(0,5):
        print(x,y)

0 0
0 1
0 2
0 3
0 4
1 0
1 1
1 2
1 3
1 4
2 0
2 1
2 2
2 3
2 4
3 0
3 1
3 2
3 3
3 4
4 0
4 1
4 2
4 3
4 4

In [85]:
['His first name is '+x.strip().upper()+' and last name is '+y.strip() 
 for x in ['Ali ', ' Bilal', 'Chand'] 
 for y in [' Xanax', 'Yasir ', ' Zaheer']]

['His first name is ALI and last name is Xanax',
 'His first name is ALI and last name is Yasir',
 'His first name is ALI and last name is Zaheer',
 'His first name is BILAL and last name is Xanax',
 'His first name is BILAL and last name is Yasir',
 'His first name is BILAL and last name is Zaheer',
 'His first name is CHAND and last name is Xanax',
 'His first name is CHAND and last name is Yasir',
 'His first name is CHAND and last name is Zaheer']